<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Authorize <strong><%= @pre_auth.client.name %></strong> to use your account?</h1>
    </div>
  </div>

  <div class="panel-body">
    <% if @pre_auth.scopes.any? %>
      <div class="row">
        <div class="col-md-8">

            <h3>This application will be able to:</h3>
            <ul>
              <% @pre_auth.scopes.each do |scope| %>
                <li><%= t scope, scope: [:doorkeeper, :scopes] %></li>
              <% end %>
            </ul>
        </div> <!-- ./col-md-8 -->

        <div class="col-md-4">
          <div class="actions">
            <%= form_tag oauth_authorization_path, method: :post do %>
              <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
              <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
              <%= hidden_field_tag :state, @pre_auth.state %>
              <%= hidden_field_tag :response_type, @pre_auth.response_type %>
              <%= hidden_field_tag :scope, @pre_auth.scope %>
              <%= submit_tag "Authorize", class: "btn btn-success btn-lg btn-block" %>
            <% end %>
            <br />
            <%= form_tag oauth_authorization_path, method: :delete do %>
              <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
              <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
              <%= hidden_field_tag :state, @pre_auth.state %>
              <%= hidden_field_tag :response_type, @pre_auth.response_type %>
              <%= hidden_field_tag :scope, @pre_auth.scope %>
              <%= submit_tag "Deny", class: "btn btn-danger btn-lg btn-block" %>
            <% end %>
          </div> <!-- ./actions -->
        </div> <!-- ./col-md-4 -->
      </div> <!-- ./row -->
    <% end %>

    <!-- if no scopes -->

    <div class="actions">
      <%= form_tag oauth_authorization_path, method: :post do %>
        <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
        <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
        <%= hidden_field_tag :state, @pre_auth.state %>
        <%= hidden_field_tag :response_type, @pre_auth.response_type %>
        <%= hidden_field_tag :scope, @pre_auth.scope %>
        <%= submit_tag "Authorize", class: "btn btn-success btn-lg btn-block" %>
      <% end %>
      <br />
      <%= form_tag oauth_authorization_path, method: :delete do %>
        <%= hidden_field_tag :client_id, @pre_auth.client.uid %>
        <%= hidden_field_tag :redirect_uri, @pre_auth.redirect_uri %>
        <%= hidden_field_tag :state, @pre_auth.state %>
        <%= hidden_field_tag :response_type, @pre_auth.response_type %>
        <%= hidden_field_tag :scope, @pre_auth.scope %>
        <%= submit_tag "Deny", class: "btn btn-danger btn-lg btn-block" %>
      <% end %>

  </div>

</div>
