<h1>Listing applications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>School grad</th>
      <th>Website</th>
      <th>GitHub</th>
      <th>Bio</th>
      <th>Resume</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.name %></td>
        <td><%= application.first_name %></td>
        <td><%= application.last_name %></td>
        <td><%= application.email %></td>
        <td><%= application.school_grad %></td>
        <td><%= application.wesbite %></td>
        <td><%= application.github %></td>
        <td><%= application.bio %></td>
        <td>Resume link will be here... (soon!)</td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application', new_application_path %>
