<h1>Listing applications</h1>

<h3>You have <%= current_user.applications.count %> applications! </h3>

<table>
  <thead>
    <tr>
      <th>Applied to</th>
      <th>Reimbursement needed</th>
      <th>Accepted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.hackathon_id %></td>
        <td><%= application.reimbursement_needed %></td>
        <td><%= application.accepted %></td>
        <td><%= link_to 'Show', application %></td>
        <td><%= link_to 'Edit', edit_application_path(application) %></td>
        <td><%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
