<% if @application.accepted? %>
  <div class="center">
    <h1>You have been accepted to <%= @application.hackathon.name %>!</p>

    <br>

    <%= render "rsvp" %>
  </div>
<% end %>

<p>
  <strong>Applied to:</strong>
  <%= @application.hackathon.name %>
</p>

<p>
  <strong>Reimbursement needed:</strong>
  <%= @application.reimbursement_needed %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @application.accepted %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
