<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @application.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @application.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p>

<p>
  <strong>School grad:</strong>
  <%= @application.school_grad %>
</p>

<p>
  <strong>Website:</strong>
  <%= @application.website %>
</p>

<p>
  <strong>GitHub:</strong>
  <%= @application.github %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @application.bio %>
</p>

<p>
  <strong>Resume:</strong>
  Resume link will be here... (soon!)
</p>


<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
