<div class="jumbotron">
  <div class="container">

    <h1 class="center"><i class="fa fa-magic"></i> Decision Desk</h1>

    <%= render "admin/dashboards/nav" %>

    <hr>

    <% if params[:accepted] == nil %>
      <p><%= link_to "View all accepted applications", admin_hackathon_applications_path(@hackathon, accepted: 't') %></p>
      <p><%= link_to "View all denied applications", admin_hackathon_applications_path(@hackathon, accepted: 'f') %></p>
    <% end %>

    <% if params[:accepted] == 't' %>
      <p>You are viewing all accepted applications.</p>
      <p><%= link_to "View all applications", admin_hackathon_applications_path(@hackathon) %></p>
      <p><%= link_to "View all denied applications", admin_hackathon_applications_path(@hackathon, accepted: 'f') %></p>
    <% end %>

    <% if params[:accepted] == 'f' %>
      <p>You are viewing all denied applications.</p>
      <p><%= link_to "View all applications", admin_hackathon_applications_path(@hackathon) %></p>
      <p><%= link_to "View all accepted applications", admin_hackathon_applications_path(@hackathon, accepted: 't') %></p>
    <% end %>

    <br>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Reimbursement Needed</th>
          <th>Accepted</th>
          <th>View</th>
        </tr>
      </thead>

      <tbody>
        <% @applications.each do |application| %>
          <tr>
            <td><%= application.user.name if application.user %></td>
            <td>
              <% if application.reimbursement_needed? %>
                <span class="label label-warning">Yes</span>
              <% else %>
                <span class="label label-default">No</span>
              <% end %>
            <td>
              <% if application.accepted? %>
                <span class="label label-success">Yes</span>
              <% else %>
                <span class="label label-default">No</span>
              <% end %>
            </td>
            <td><%= link_to "View", admin_hackathon_application_path(@hackathon, application) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
