<div class="jumbotron">
  <div class="container">
    <h1 class="center"><i class="fa fa-tachometer"></i> <%= @hackathon.name %> War Room</h1>
    <h1 class="center"><i class="fa fa-cogs"></i> <%= @hackathon.name %> War Room</h1>
    <h2> Welcome back!</h2>

    <br>

    <div class="row">
      <div class="col-md-6">

        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <% if @hackathon.organizers.any? %>
            <li role="presentation"><%= link_to "Organizers", hackathon_organizers_path, class: 'btn btn-primary' %></li>
          <% end %>
          <li role="presentation"><%= link_to "Decision Desk", admin_applications_hackathon_path(@hackathon), class: 'btn btn-primary' %></li>
          <li role="presentation"><%= link_to "Check in", admin_tickets_hackathon_path(@hackathon), class: 'btn btn-primary' %></li>
        </ul>

      </div><!-- .col-md-6 -->

      <div class="col-md-6">
        <% if @hackathon.organizers.any? %>

          <h3 class="center">Organizers</h3>

          <table class="table">
            <thead>
              <tr>
                <th>User</th>
                <th>Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @organizers.each do |organizer| %>
                <tr>
                  <td><%= organizer.user.name %></td>
                  <td><%= link_to 'Destroy', hackathon_organizer_path(@hackathon, organizer), class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div><!-- .col-md-6 -->
    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- .jumbotron -->
