<style>
  .table {
    padding: 50px;
  }
  .new {
    padding-left: 25px;
  }
</style>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">My OAuth Applications</div>
  <div class="panel-body">
    <p>You have <%= current_user.oauth_applications.count %> applications!</p>
  </div>

  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Callback URL</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @applications.each do |application| %>
        <tr>
          <td><%= link_to application.name, [:oauth, application] %></td>
          <td><%= application.redirect_uri %></td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default"><%= link_to 'Show', oauth_application_path(application) %></button>
              <button type="button" class="btn btn-default"><%= link_to 'Edit', edit_oauth_application_path(application) %></button>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p class="new"><%= link_to 'New Application', new_oauth_application_path, class: 'btn btn-primary' %></p>

</div>
