<h1>Listing hackathons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>About</th>
      <th>Tagline</th>
      <th>Location</th>
      <th>Slug</th>
      <th>Logo</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hackathons.each do |hackathon| %>
      <tr>
        <td><%= hackathon.name %></td>
        <td><%= hackathon.about %></td>
        <td><%= hackathon.tagline %></td>
        <td><%= hackathon.location %></td>
        <td><%= hackathon.slug %></td>
        <td><%= image_tag hackathon.logo.url(:medium) %></td>
        <td><%= hackathon.start %></td>
        <td><%= hackathon.end %></td>
        <td><%= link_to 'Show', hackathon %></td>
        <td><%= link_to 'Edit', edit_hackathon_path(hackathon) %></td>
        <td><%= link_to 'Destroy', hackathon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hackathon', new_hackathon_path %>
