<div class="page-header">
  <h1><%= @hackathon.name %> <small><%= @hackathon.tagline %></small></h1>
</div>

<p><%= link_to "Signup for this hackathon!", new_application_path(:hackathon_id => @hackathon.id) %></p>

<div>
  <p>
    <% if @hackathon.hs_hackers_allowed? %>
      We love HS Hackers!
    <% end %>
  </p>
  <p>
    <% if @hackathon.mlh_sactioned? %>
      We are MLH sanctioned!
    <% end %>
  </p>
</div>

<p>
  <strong>Name:</strong>
  <%= @hackathon.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @hackathon.about %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @hackathon.tagline %>
</p>

<p>
  <strong>Location:</strong>
  <%= @hackathon.location %>
</p>

<p>
  <strong>Subdomain:</strong>
  <%= @hackathon.subdomain %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @hackathon.logo.url(:medium) %>
</p>

<p>
  <strong>Header:</strong>
  <%= image_tag @hackathon.header.url(:medium) %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @hackathon.start %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @hackathon.end %>
</p>

<%= link_to 'Edit', edit_hackathon_path(@hackathon) %> |
<%= link_to 'Back', hackathons_path %>
