<ul class="nav nav-pills">

  <li role="presentation" class="active">
    <%= link_to admin_hackathon_path(@hackathon) do %>
        <i class="fa fa-home"></i> <%= @hackathon.name %> Home
    <% end %>
  </li>

  <!-- <i class="fa fa-home"></i> -->

  <li role="presentation"><%= link_to "Organizers", admin_hackathon_organizers_path(@hackathon) %></li>

  <li role="presentation"><%= link_to "Decision Desk", admin_hackathon_applications_path(@hackathon) %></li>

  <li role="presentation"><%= link_to "Check in", admin_hackathon_tickets_path(@hackathon) %></li>

  <li role="presentation"><%= link_to "Edit hackathon", edit_admin_hackathon_path(@hackathon) %></li>
</ul>
