<style>
  .container .jumbotron {
    padding-left: 0px;
    padding-right: 0px;
  }
</style>

<div class="jumbotron">
  <div class="container">

    <h1 class="center">MLH Sanctioning Dashboard</h1>

    <br>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Sanctioning Status</th>
          <th>Action</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @hackathons.each do |hackathon| %>
          <tr>
            <td><%= hackathon.name %></td>
            <td>
              <% if hackathon.mlh_sanctioned? %>
                <span class="label label-success">Sanctioned</span>
              <% else %>
                <span class="label label-default">Not Sanctioned</span>
              <% end %>
            </td>
            <td>
              <% if hackathon.mlh_sanctioned? %>
                <div class="form-group">
                  <%= button_to "Unsanction",
                    :controller => 'admin/dashboards',
                    :action => "mlh_unsanction",
                    :hackathon_id => hackathon.id,
                    :method => :post
                  %>
                </div>
              <% else %>
                <div class="form-group">
                  <%= button_to "Sanction",
                    :controller => 'admin/dashboards',
                    :action => "mlh_sanction",
                    :hackathon_id => hackathon.id,
                    :method => :post
                  %>
                </div>
              <% end %>
            </td>
            <td><%= link_to 'Show', hackathon %></td>
            <td><%= link_to hackathon.name, root_url(subdomain: hackathon.subdomain) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div><!-- .container -->
</div><!-- .jumbotron -->
