<!DOCTYPE html>
<html>
<head>

<!--
======================================================================
=== brought to you by... ================================= HackCentral
======================================================================
 _    _
| |  | |  _______
| |__| | /  _____\
|  __  | |  |
| |  | | |  |_____
|_|  |_|  \_______\

===================================================================
=================================== Awesome hackathons for all. ===
===================================================================
===Fork us on GitHub! https://github.com/hackcentral/hackcentral===
===================================================================
-->

  <title>Hack Central</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <%= render "layouts/header" %>

  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
    <% end %>

    <%= yield %>

</body>
</html>
